.Filter {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  max-width: 300px;

  & input {
    padding: 4px;
    font-family: inherit;
    border-radius: 5px;
    border: solid 3px #a2a9d5;
    margin-top: 10px;

    &:hover,
    &:focus {
      outline: 0;
      border: solid 3px #303f9f;
    }
  }
}
