.List {
  padding: 0;
  list-style: none;
  max-width: 300px;

  & li {
    display: flex;
    max-width: 300px;
    margin-bottom: 10px;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
  }
}

.Btn {
  border: none;
  font: inherit;
  cursor: pointer;
  outline: none;

  border-radius: 5px;
  padding: 4px 8px;
  background-color: #e13c65;
  color: white;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);

  &:hover,
  &:focus {
    background-color: #d11752;
  }
}
